
/* Your CSS Code here. */
.first{
	color:white;
	text-align:center;
}
.second{
	padding-top:30px;
	padding-bottom:30px;
}
.for{
	padding-top:30px;
	padding-bottom:30px;
}
.fif{
	padding-top:30px;
	padding-bottom:30px;
	text-align:center;
}
.six{
	padding-top:30px;
	padding-bottom:30px;
}